DB_NAME=shuttlebus_system
SECRET_KEY=change_this_secret_before_real_deploy
CAMERA_URL=http://192.168.110.234:4747/video
SAVE_INTERVAL=5
INSTALL_DETECTOR=true

VITE_API_BASE_URL=http://localhost:5001
VITE_GOOGLE_MAPS_API_KEY=

FLUTTER_API_BASE_URL=http://localhost:5001
